@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* Kids Subjects Colors */
  --color-kid-math: #ff823a ;
  --color-kid-physics: #bc84ee;
  --color-kid-arabic: #dcfd8b;
  --color-kid-english: #fdd5bd;
  --color-kid-sky:#38bdf8;

  /* Parents Portal Colors */
  --color-parent-navy: #0f172a;
  --color-parent-primary: #4f46e5;
  --color-parent-bg: #f8fafc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
